<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649872538075-lhn94ko0h020fklq3bshfahqcsod2cv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649872538075-lhn94ko0h020fklq3bshfahqcsod2cv3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>649872538075-aq43hbkh2nmg35nk6g8r5ppf9gfu0m52.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDR6NH1iRCT_DYfi9ZQakEF-bupTUKRTkE</string>
	<key>GCM_SENDER_ID</key>
	<string>649872538075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>orderrt.mo.oba</string>
	<key>PROJECT_ID</key>
	<string>orderrt-d6f41</string>
	<key>STORAGE_BUCKET</key>
	<string>orderrt-d6f41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649872538075:ios:59b41866b52938aeb88ffe</string>
</dict>
</plist>